body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222;
  color: white;
}

.nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.device {
  font-size: 1.5rem;
  color: #721c24;
  background-color: #888;
  text-align: center;
  padding: 0.75rem 0;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 1rem;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 1rem 2rem;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

#github {
  margin-left: 1rem;
}

/* Device: Tablet */
@media (min-width: 601px) and (max-width: 1023px) {
  .device::before {
    content: "Dispositivo: Tablet (601px - 1023px)";
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Device: Desktop */
@media (min-width: 1024px) {
  .device::before {
    content: "Dispositivo: Desktop (≥ 1024px)";
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Device:Mobile */
@media (max-width: 600px) {
  .device::before {
    content: "Dispositivo: Mobile (≤ 600px)";
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .header,
  .footer {
    flex-direction: column;
  }
  .nav a {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
  }
  #github {
    margin-left: 0;
  }
}
