body {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  grid-template-rows: 80px 100px 60px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: start;
  align-items: start;
  justify-content: start;
}

.grid-item1 {
  background-color: #999;
}

.grid-item2 {
  background-color: #444;
}
